[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2.8"
psycopg2 = "2.9.1"
faker = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
pyjwt = "~=2.1.0"
pylama = "*"

[dev-packages]

[requires]
python_version = "3.10"
